html {
  scroll-behavior: smooth;
  overflow: overlay;
}

body {
  font-family: 'Cairo';
  overflow-x: hidden;
}

/* Nav and Footer Style */
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: Kalam;
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 5.5rem;
  }
}
h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
  color: #F9F5F0;
}

@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}
h5, .h5 {
  color: #F9F5F0;
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
  color: #F9F5F0;
}

a {
  color: var(--bs-link-color);
  text-decoration: none;
}

.website-title {
  margin-top: 0.5px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color:#352222;
}

footer p{
  color: #6C757D;
  font-family: 'Cairo', sans-serif;
}
/* Nav and Footer Style End */

.valid-feedback, .invalid-feedback {
  text-align: center;
}


#diner-div {
  display: flex;
  align-items: center;
}

#diner-div span {
  margin-left: 10px;
}


#dinerdesc {
  text-align: center;
  display: block;
}

.booking-row {
  display: flex;
  flex-direction: row;
  left: 50%;
  padding-top: 10px;

}

#labels {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
}

.tables:hover {
  transform: scale(1.2);
}

.tables {
  display: inline-block;
  border-radius: 50%;
  background-color: #A26B6B;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  min-width: 80px;
  min-height: 80px;
  transition: all 0.5s;
  cursor: pointer;
}

.tables-selected {
  background-color: #352222;
  transform: scale(1.2);
}

.tables-unavailable {
  background-color: #710D13;
  display: inline-block;
  border-radius: 50%;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  min-width: 80px;
  min-height: 80px;
  transition: all 0.5s;
  cursor: not-allowed !important;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 350px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 0px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 50%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #3522228d; 
}